.footer {
    border-top: 1px solid #CFCFCF;
    padding: 90px 0;
    margin-top: 100px;
    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;
        column-count: 2;
            
    }

    &__col {
        &--info {
            display: flex;
            flex-direction: column;
        }
    }

    &__menu-item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(4)::after {
            content: "\A \A";
            white-space: pre;
        }
    }

    &__menu-link {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }

    &__info {
    }

    &__whatsapp {
        font-size: 26px;
        font-weight: 500;
        line-height: 130%; 
        color: #000;
        text-decoration: none;
        display: block;
        span {
            color: #15AE31;
        }
    }

    &__time {
        font-weight: 500;
        margin-top: 7px;
        display: block;
    }

    &__logo {
        margin-top: auto;
        align-self: flex-end;
        margin-right: auto;
    }
}