.banner {
    padding-top: 56px;
    &__title {
        text-align: center;
        font-family: Montserrat;
        font-size: 90px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .descr {
        margin: 0;
        max-width: 1215px;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        margin-top: 50px;
        width: 100%;
    }

    &__img-container-size {
        display: block;
        max-width: 1390px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.advantages {
    &__free {
        align-items: center;
        row-gap: 23px;
        .descr-sm {
            margin: 10px 0 0 0;
        }
    }

    &__free + .advantages__items {
        margin-top: 60px;
    }

    &__items + .advantages__free {
        margin-top: 60px;
    }

    &__img {
        max-width: 885px;
        width: 100%;
    }

    &__free-title {
        font-size: 131px;
        font-weight: 500;
        text-transform: uppercase;
        background: linear-gradient(90deg, #00C6FF -7.38%, #0072FF 105.23%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }

    &__items {
        row-gap: 60px;
    }

    &__item {
        img {
            max-width: 370px;
            width: 100%;
        }

        h3 {
            margin: 30px 0 0 0;
        }

        h3, .descr-sm {
            max-width: 420px;
        }

        .btn {
            margin-top: 30px;
        }
    }
}

.take-key {

    .descr {
        margin-bottom: 50px;
    }
}

.rent-hot {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 50px;

        + .btn {
            margin-top: 50px;
        }
    }

    .descr {
        margin-bottom: 0;

        + .btn {
            margin-top: 30px;
        }
    }

    .col-lg-7 img {
        max-width: max-content;
        width: 100%;
    }

    .row {
        row-gap: 30px;
    }

    .col-lg-5 {
        .title-h2, .descr {
            text-align: left;
        }

        .descr {
            margin-bottom: 30px;
        }
    }
}

.gray-bg {
    margin: 0 30px;
    padding-top: 80px;
    border-radius: 20px;
    background: #EDEDED;
    padding-bottom: 120px;
    &:not(.gray-bg:has(.help--noimage + *)):has(.help--noimage) {
        padding-bottom: 0;
        margin-bottom: 120px;
    }
    &:not(.gray-bg:has(.statistic + *)):has(.statistic) {
        padding-bottom: 0;
    }

    .rent-hot + .help--noimage {
        margin-top: 30px;
    }

    &:has(.get:only-child) {
        padding-bottom: 55px;
    }

    &:has(.rent-hot--center:only-child) {
        padding: 120px 0 ;
    }
}

.get {
    &__grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-gap: 30px;
        grid-auto-rows: 320px;
        width: 100%;
    }

    &__grid-item {
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid #EBEBEB;
        text-align: center;
        overflow: hidden;
        padding-top: 35px;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        &:first-child {
            grid-row-start: span 2;
        }

        &:nth-child(4) {
            grid-column: span 2;

            .title-h3 {
                max-width: 1200px;
            }
        }

        img {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
        }

        .title-h3, .descr-sm {
            max-width: 580px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
}

.rent {
    &__tags {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    &__tags-item {
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        padding: 15px 25px;
        background-color: #fff;
        border-radius: 1111px;
        text-decoration: none;
        color: #000;
        transition: .3s;
        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }
}

.statistic {

    img {
        margin-bottom: -4.2vw;
    }

    .descr {
        margin-bottom: 50px;
    }

    &--norevers img {
        margin-bottom: 0 !important;
    } 

    + * {
        padding-top: 10px;
    }
}

.garant {
    &__title-h2 {
        text-align: left;
    }

    &__descr {
        text-align: left;
        margin-left: 0;
    }

    &__items {
        row-gap: 70px;
        align-items: flex-start;

        img {
            width: 80px;
            height: 80px;
        }
    }

    &__item {
        display: flex;
        column-gap: 40px;

        &.col-lg-12 {
            .garant__item-right {
                max-width: 100%;
            }
        }
    }

    &__item-right {
        max-width: 485px;
    }

    &--more {

        .title-h2 + .descr {
            margin-bottom: 70px;
        }
    }

    &--gray {
        margin-bottom: 30px;
        .container {
            padding-top: 70px;
            padding-bottom: 80px;
            border-radius: 20px;
            background: #EFEFEF;
            position: relative;
        }

        .row {
            margin: 0 87.5px;
        }

        .btn {
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            &:hover {
                transform: translateX(-50%) translateY(-2px);
            }
        }
    }

    &__nums {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        counter-reset: garant-nums-counter;
    }

    &__nums-item {
        list-style: none;
        counter-increment: garant-nums-counter;
        display: flex;
        column-gap: 40px;
        row-gap: 20px;
    }

    &__nums-item-cur {
        display: block;
        min-width: 70px;
        max-width: 70px;
        min-height: 70px;
        max-height: 70px;
        border-radius: 100px;
        border: 2px solid #DFDFDF;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: counter(garant-nums-counter);
            color: rgba(0, 0, 0, 0.50);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 31.2px */

        }
    }

    &__nums-item-content {
        max-width: 1105px;
        width: 100%;
    }
}

.gray-linear-bg {
    background: linear-gradient(180deg, #EDEDED 40.94%, #FFF 86.88%);
    
    margin: 0 30px;
    padding-top: 80px;
    border-radius: 20px;
    &:has(.help--noimage) {
        margin-bottom: 100px;
    }

    &:not(.rent + *) {
        padding-bottom: 120px;
    }

    .rent-hot + .help--noimage {
        margin-top: 30px;
    }
}

.price {
    .title-h2, .descr {
        text-align: left;
        margin-left: 0;
    }

    &__items {
        align-items: stretch;
        row-gap: 25px;
    }

    &__item:nth-child(odd) &__item-title{
        color: #27AE60;
    }

    &__item:nth-child(even) &__item-title{
        color: $blue;
    }

    &__item:not(:has(img)) .price__item-content {
        padding-bottom: 40px;
    }

    &__item-inner {
        border-radius: 20px;
        background: #FFF;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        img {
            margin-top: auto;
            display: flex;
            align-self: flex-end;
            width: 100%;
        }
    }

    &__item-content {
        padding: 40px 50px;
        padding-bottom: 0;
    }

    &__item-title {
        margin: 0 0 30px 0;
        font-size: 32px;
        font-weight: 500;
        line-height: 130%; /* 41.6px */
    }

    &__item-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        
    }

    &__item-list-name {
        font-size: 21px;
        font-weight: 500;
        line-height: 150%; /* 31.5px */
    }

    &__item-list-val {
        color: rgba(0, 0, 0, 0.70);
        font-size: 17px;
        font-weight: 500;
        line-height: 150%; /* 25.5px */
    }
}

.help {

    &--noimage {
        .help__btn {
            margin-bottom: -105px;
            padding: 0;
        }
    }

    &__btn {
        position: relative;
        padding: 140px 0 153px;
        a {
            color: #fff;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 41.6px */
            width: 100%;
            text-align: center;
            display: block;
            padding: 87px 0;
            background: var(--Main_colors-Blue, linear-gradient(90deg, #00C6FF -7.38%, #0072FF 105.23%));
            border-radius: 10000000px;
            text-decoration: none;
            transform: rotate(-1deg);
            transition: .2s;
            &:hover {
                transform: rotate(0deg);
            }
        }
        img {
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 680px;
            height: 225px;
        }

    }

    &__btn-img-up {
        top: 0;
        left: 0;
    }

    &__btn-img-bottom {
        bottom: 0;
        right: 0;
    }
}

.steps {
    &__title, &__descr {
        text-align: left;
    }

    .row {
        row-gap: 40px;
    }

    .title-h2 + .descr {
        margin-bottom: 0;
    }

    &__descr {
    }

    .col-lg-6:last-child:has(.descr) {
        padding-top: 12px;     
        .descr {
            max-width: 680px;
            margin-left: 0;
        }   
    }

    &__btn {
        margin-top: 30px;
        max-width: 221px;
    }

    &__list {
        margin: 0 0 0 auto;
        padding: 0;
        display: block;
        list-style: none;
        counter-reset: steps;
        li {
            margin-bottom: 40px;
            position: relative;
            display: flex;
            align-items: flex-start;
            column-gap: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        li:before {
            counter-increment: steps;
            content: counter(steps);
            font-size: 50px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 60px */
            background: var(--Main_colors-Blue, linear-gradient(90deg, #00C6FF -7.38%, #0072FF 105.23%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.sites {

    &__items {
        margin-top: 60px;
        row-gap: 40px;
    }

    &__item {
        padding: 30px 35px 50px 35px;
        border-radius: 20px;
        border: 1px solid #C3C3C3;
        display: flex;
        align-items: center;
        transition: .3s;
        position: relative;
        &:hover {
            background: #FFF;
            cursor: pointer;
            border-color: transparent;
        }

        a {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

.get + .rent {
    padding-top: 120px;
}

section + section, .gray-bg + section , .gray-linear-bg + section{
    padding-top: 100px;
}

section:not(.take-key) + .gray-bg, section:not(.take-key) + .gray-linear-bg {
    margin-top: 100px;
}

.help--noimage + section {
    padding-top: 120px;
}

.gray-bg section:first-child {
    margin-top: 0;
    padding-top: 0;
}

.gray-linear-bg section:first-child {
    margin-top: 0;
    padding-top: 0;
}

.call {

    &__content {
        padding: 100px 0 110px 120px;
        border-radius: 20px;
        background: #EFEFEF;
        background-image: url('../images/graphics/call/call-bg.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
    }

    &__content-inner {
        max-width: 66.66666667%;
    }


    &__title {
        text-align: left;
        font-size: 32px;
        margin-bottom: 0;
    }

    &__title + .descr {
        text-align: left;
        max-width: 100%;
        margin-top: 15px;
        margin-bottom: 0;
    }

    &__form {
        margin-top: 30px;
        display: flex;
        gap: 30px;
    }

    &__form-input {
    }

    &__form-btn {
        cursor: pointer;
        border: none;
        max-width: 220px;
        width: 100%;
    }
}

.input {
    padding: 20px 30px;
    font-family: Montserrat;
    font-size: 16px;
    border-radius: 1000px;
    background: #FFF;
    border: none;
    max-width: 220px;
    width: 100%;
    &::placeholder {
        color: var(--Gray1, rgba(0, 0, 0, 0.50));
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 125%; /* 20px */
    }
    &:focus {
        outline: none;
    }
}

.location {

    .title-h2 {
        text-align: center !important;
    }

    &__items {
        row-gap: 30px;
    }

    &__item {
        &-inner {
            border-radius: 20px;
            background: #EFEFEF;
            overflow: hidden;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 500px;
        }
        &--blue {
            .location__item-inner {
                background: #2F80ED;
            }
            .location__item-content {
                .title-h3 {
                    color: #fff;
                }
                .descr-sm {
                    color: #fff;
                }
            }
        }

        img {
            width: 100%;
            height: auto;
        }

        &--big {
            .location__item-inner {
                max-width: 100%;
                flex-direction: row;
            }
            img {
                margin-right: 50px;
                display: block;
                width: 43.2%;
                margin-left: auto;
                margin-top: 0;
            }
        }
    }

    &__item-content {
        margin: 40px 50px;
        max-width: 580px;
    }
}

.modal-form {
    max-width: 812px;
    width: 100%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;    
    padding: 50px 60px 60px;
    position: relative;
    &__close {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: block;
        img {
            width: 16px;
            height: 16px;
        }
    }

    &__title {
        text-align: center;
    }

    .title-h3 + .descr-sm {
        margin-top: 15px;
        text-align: center;
    }

    &__form {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__form-input {
        background: #EDEDED;
    }

    &__form-btn {
        border: none;
        cursor: pointer;
        font-family: Montserrat;
        display: block;
    }
}
.mfp-hide {
}
.white-popup-block {
}

.mfp-container {
    padding: 0 !important;
}

.thanks {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #27AE60;
    width: 100%;
    padding: 14px 0;
    color: #fff;
    transform: translateY(100%);
    transition: .3s;
    &.active {
        transform: translateY(0);
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    p {
        font-size: 24px;
        font-weight: 500;
        line-height: 130%; /* 31.2px */
        margin: 0;
        padding: 0;
    }

    &__btn {
        border: none;
        cursor: pointer;
        padding: 14px 30px 16px;
        font-size: 15px;
        background-color: #fff;
        border-radius: 76px;
        height: fit-content;
        &:hover span {
            color: #000;
            -webkit-text-fill-color: #000;
        }
    }
}
